.detail {
  margin: auto;
  max-width: 500px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  color: #31363f;
}

.detail > div {
  margin: 20px 30px;
}
.detail > h1 {
  text-align: center;
  margin: 0px;
  background: #76abae;
  padding: 15px;
  color: #fff;
}

.container-detail {
  padding: 45px;
}
.dark-container-detail {
  background: #31363f;
}

.dark-container-detail .detail > div {
  color: #fff;
}

.dark-container-detail .detail {
  background: #222831;
}
